<div id="<%= dom_id municipality_resident %>">
  <p>
    <strong> <%= t('full_name') %> </strong>
    <%= municipality_resident.full_name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= municipality_resident.cpf %>
  </p>

  <p>
    <strong>Cns:</strong>
    <%= municipality_resident.cns %>
  </p>

  <p>
    <strong>Email</strong>
    <%= municipality_resident.email %>
  </p>

  <p>
    <strong><%= t('birthday') %></strong>
    <%= municipality_resident.birthday %>
  </p>

  <p>
    <strong><%= t('phone_number') %></strong>
    <%= municipality_resident.phone_number %>
  </p>

  <p>
    <strong><%= t('image_data:') %></strong>
    <%= image_tag municipality_resident.image_url if municipality_resident.image_data %>
  </p>

  <p>
    <strong><%= t('city') %></strong>
    <%= municipality_resident.address.city %>
  </p>

  <p>
    <strong><%= t('zip_code') %></strong>
    <%= municipality_resident.address.zip_code %>
  </p>

  <p>
    <strong><%= t('address_1') %></strong>
    <%= municipality_resident.address.address1 %>
  </p>

  <p>
    <strong><%= t('Neighborhood') %></strong>
    <%= municipality_resident.address.neighborhood %>
  </p>

  <p>
    <strong>UF:</strong>
    <%= municipality_resident.address.uf %>
  </p>

  <p>
    <strong><%= t('complement') %></strong>
    <%= municipality_resident.address.complement %>
  </p>

  <p>
    <strong>IBGE:</strong>
    <%= municipality_resident.address.ibge %>
  </p>
</div>
